<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- main -->
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>visualk.Main</servlet-class>
    </servlet>
    <!-- mosaics -->
    <servlet>
        <servlet-name>ArtRounded</servlet-name>
        <servlet-class>visualk.art.Rounded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtSquared</servlet-name>
        <servlet-class>visualk.art.Squared</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtMixed</servlet-name>
        <servlet-class>visualk.art.Mixed</servlet-class>
    </servlet>
    <!-- hrzmkr -->
    <servlet>
        <servlet-name>Hrz</servlet-name>
        <servlet-class>visualk.hrz.Hrz</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet del programa surveyserver</description>
        <servlet-name>SurveyServer</servlet-name>
        <servlet-class>visualk.ss.SurveyServer</servlet-class>
    </servlet>
    <servlet>
        <description>Arab Mosaics</description>
        <servlet-name>ArtArab</servlet-name>
        <servlet-class>visualk.art.Arab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveMosaic</servlet-name>
        <servlet-class>visualk.art.LiveMosaic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hrz</servlet-name>
        <url-pattern>/hrz/Hrz</url-pattern>
    </servlet-mapping>
    <!-- mosaics -->
    <servlet-mapping>
        <servlet-name>ArtSquared</servlet-name>
        <url-pattern>/art/Squared</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtRounded</servlet-name>
        <url-pattern>/art/Rounded</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtMixed</servlet-name>
        <url-pattern>/art/Mixed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyServer</servlet-name>
        <url-pattern>/ss/SurveyServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtArab</servlet-name>
        <url-pattern>/art/Arab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveMosaic</servlet-name>
        <url-pattern>/art/LiveMosaic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
