<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- main -->
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>visualk.Main</servlet-class>
    </servlet>
    <!-- mosaics -->
    <servlet>
        <servlet-name>ArtRounded</servlet-name>
        <servlet-class>visualk.art.Rounded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtSquared</servlet-name>
        <servlet-class>visualk.art.Squared</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtMixed</servlet-name>
        <servlet-class>visualk.art.Mixed</servlet-class>
    </servlet>
    <!-- hrzmkr -->
    <servlet>
        <servlet-name>Hrz</servlet-name>
        <servlet-class>visualk.hrz.Hrz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsTubsWorld</servlet-name>
        <servlet-class>visualk.games.jstubsworld.jsTubsWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hrz</servlet-name>
        <url-pattern>/hrz/Hrz</url-pattern>
    </servlet-mapping>
    <!-- mosaics -->
    <servlet-mapping>
        <servlet-name>ArtSquared</servlet-name>
        <url-pattern>/art/Squared</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtRounded</servlet-name>
        <url-pattern>/art/Rounded</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtMixed</servlet-name>
        <url-pattern>/art/Mixed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsTubsWorld</servlet-name>
        <url-pattern>/jsTubsWorld</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
