/*
    Document   : xhtml5
    Created on : 05/04/2013, 17:44:32
    Author     : alex
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
   font-family: myFirstFont;
   src: url(../fonts/sansation_light.woff);
   /*src: url(../fonts/Artifika-Regular.ttf);*/
}

body{
    background-color:black;
    color:white;
    font-family: myFirstFont; 
}



#logo{
    z-index:-1;
    left:0px;
    bottom:16px;
    position: fixed;
}

#statusBar{
    position: fixed;
    bottom: 0px; 
    left: 0px;
    bottom:0px;
    height: 15px; 
    overflow: hidden;
    color: lime;
    right: 0px; 
    padding:2px 2px 2px 2px;
    cursor:pointer; 	
    z-index: 100;
    text-align:center;
    background-color: black;
    
    
}
#titleBar{
    visibility: hidden;
    position: absolute; 
    top: 10px; 
    right: 50px; 
    height: 10px; 
    overflow: hidden;
    
    right: 50px; 
    padding:2px 2px 5px 5px;
    z-index: 100;
    
    text-align:center;
    
}

#desconectar{
    visibility: hidden;
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    height: 10px; 
    overflow: hidden;
    color: magenta;
    right: 50px; 
    padding:5px 5px 5px 5px;
    z-index: 100;
    text-align:center;
    background: red;
}