body{
    background-color:white;
    color:black;
    font-family:monospace;
}	
a{
    color:yellow;
}

#cssWorkTitle{
    overflow: hidden;
    color: blue;
    padding:5px 5px 5px 5px;
    cursor:pointer; 	
    z-index: 100;
    text-align:center;
}

#cssAuthorName
{
    height: 10px; 
    right: 50px; 
    padding:5px 5px 5px 5px;
    text-align:center;
}

.cssImage{
    text-align:center;
    width: 80%;
    height: 100%;
    padding:10px 10px 10px 10px;
    border:#ffffff;
}

#cssImages{
    text-align:center;
    
    width:auto;
    height: auto;
}
#cssWorkDescription
{
    right:50px;
    padding:5px 5px 5px 5px;
    
    text-align:center;
    
}


#anteriorBar{
    position: absolute; 
    top:10px;
    left:10px;
    z-index: 100;
    text-align:center;
    border-color: red;

    background:rgb(20,30,30);
    opacity: 0.8;
}

#seguentBar{
    position: absolute; 
    top:10px;
    right:10px;
    z-index: 100;
    text-align:center;
    border-color: red;

    background:rgb(20,30,30);
    opacity: 0.8;
}