a{
    color:yellow;
}

#cssWorkTitle{
    background: black;
    z-index: 50; 
    font-weight: bold;
    padding: 5px;  
}

#cssWorkDescription
{
    background: black;
    top:60px;
    z-index: 50;
    padding: 5px; 
}

#cssAuthorName
{
    background: black;
    bottom:200px;
    text-align:left;  
    z-index: 50;
    padding: 5px;  
    font-style: italic;
}


.cssImage{
   width:30%;
    z-index: 50;  
    padding: 5px;
}
#cssImages{  
    z-index: 220;
    padding: 5px;
}

#nextButton{
    position: fixed; 
    right:1px;
    bottom:1px;
    color:greenyellow;
    z-index: 110;
    background: black;
}
#prevButton{
    position: fixed; 
    left:1px;
    bottom:1px;
    color:greenyellow;
    z-index: 110;
    background: black;
}


#navigateBar{
    position: absolute; 
    bottom:20px;
    right:10px;
    text-align:left;
    opacity: 0.6;
    background:rgb(20,30,40);
    position: fixed;
    z-index: 100;

}
