body{
    background-color:black;
    color:white;
    font-family:monospace;
}	
a{
    color:yellow;
}




#cssWorkTitle{
    overflow: hidden;
    color: lime;
    padding:5px 5px 5px 5px;
    cursor:pointer; 	
    z-index: 100;
    text-align:center;
}

#cssAuthorName
{
    height: 10px; 
    right: 50px; 
    padding:5px 5px 5px 5px;
    text-align:center;
}

#cssWorkImage{
    text-align:center;
    right:50px;
    padding:5px 5px 5px 5px;
    test-align:center;

}
#imgWorkImage{
    width:auto;
    height:auto;
    max-width:70%; 
    max-height:70%;
    padding: 15px;
}

#cssWorkDescription
{
    right:50px;
    padding:5px 5px 5px 5px;
    test-align:center;
    text-align:justify;
}
