



body{
	background-color:black;
	color:white;
	font-family:monospace;
	font-size:12px;
}
a{
	color:yellow;
}	
	
#optionsBar{
	position: absolute; 
	right:10px;
	top:10px;
	z-index: 100;
	text-align:center;
	
	background:rgb(30,20,50);
}

#randomBar{
	position: absolute; 
	right:10px;
	bottom:40px;
	z-index: 100;
	text-align:center;
	
	background:rgb(20,30,40);
	
}


#marxarBar{
	position: absolute; 
	top:10px;
	left:10px;
	z-index: 100;
	text-align:center;
	border-color: red;
	
	background:rgb(20,30,30);
	}
	
#dialog {
	position: absolute; 
	top: 100px; 
	left: 10px; 
	height: 10px; 
	overflow: hidden;
	background: red;
	color: yellow;
	right: 10px; 
	text-align:center;
	padding:2px 2px 5px 5px;
	z-index: 100;
	text-align:center;
 
}



#HrzCanvasDiv{
	left:200px;
	right:200px;
	top:70px;
	bottom:70px;
	position:absolute;
	text-align:center;
	color:yellow;
	z-index: 0;
	
	
}

#pino{
	left:200px;
	right:200px;
	top:70px;
	bottom:70px;
	position:absolute;
	text-align:center;
	color:red;
	z-index: 0;
}

