	
a{
    color:yellow;
    text-decoration:none; 
}




#optionsBar{
    position: absolute; 
    right:10px;
    top:10px;
    z-index: 100;
    text-align:center;

    background:rgb(30,20,50);
    opacity: 0.8;
}

#randomBar{
    position: absolute; 
    right:10px;
    bottom:40px;
    z-index: 100;
    text-align:center;

    background:rgb(20,30,40);
    opacity: 0.8;

}

    
#marxarBar{
    position: absolute; 
    top:10px;
    left:10px;
    z-index: 100;
    text-align:center;
    border-color: red;

    background:rgb(20,30,30);
    opacity: 0.8;
}




#HrzCanvasDiv{
    left:20px;
    right:20px;
    top:20px;
    bottom:70px;
    position:absolute;
    text-align:center;
    color:yellow;
    z-index: 50;


}

#pino{
    border:red;
    left:20px;
    right:20px;
    top:20px;
    bottom:70px;
    position:absolute;
    text-align:center;
    color:red;
    z-index: 50;
}


